---
const pageTitle = 'About';
let skillColor='navy';
let skillFontWeight='900';
let skillFontCase='capitalize';
let skills=['html','astro'];
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Navigation from '../components/navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor,skillFontWeight,skillFontCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
    }

    .skills {
    color: var(--skillColor);
    font-weight: var(--skillFontWeight);
    text-transform: var(--skillFontCase);
    }
    </style>
	</head>
<body>

    <Navigation />
  <h1>My Astro Site</h1>
  <h1>About Me</h1>
  <h2>... and my new Astro site!</h2>

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    <p>My skills:</p>
    <ul>
        {skills.map((skill) => (
            <li class="skills">{skill}</li>
        ))}
    </ul>
    { true && <p>It's true!</p>}
    { false ? <p>It's false!</p>: <p>It's true!</p>}
    <Footer />        

</body>
</html>
