---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>

    <body>
        <Navigation />
        <header>
            <h1>Blog</h1>
        </header>
        <p>I'll post about my work here.</p>
        <ul>
            <li>
                <a href="/posts/posts1">First Post</a>
            </li>
            <li>
                <a href="/posts/posts2">Second Post</a>
            </li>
            <li>
                <a href="/posts/posts3">Third Post</a>
            </li>
        </ul>
    </body> 
    <Footer />
</html>