---
import Social from "./social.astro"
---

<footer>
        <p><Social platform="Github" username="pulkit-gpt"></p>
        <p><Social platform="Instagram" username="hiiampulkitg"></p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>