---
import Social from "./social.astro"
---

<footer>
        <p>Learn more about my projects on my <Social platform="Github" username="pulkit-gpt">.</p>
        <p>Check out my <Social platform="Instagram" username="hiiampulkitg">.</p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>